<!--Using the menu button or slide it right, home button is for going back to the home page,
    order button is for goiung to the order page, Sign Up button for Signing Up your account
    and the Log In button for logging in your account-->

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button class="b1" size="large" [routerLink]="['/home']">
          <ion-icon slot="start" name="home"></ion-icon>
            Home
        </ion-button>
        <ion-button class="b1" size="large" [routerLink]="['/order']">
          <ion-icon slot="start" name="card"></ion-icon>
            Order
        </ion-button>
      <ion-button class="b1" size="large" [routerLink]="['/sign-up']">
        <ion-icon slot="start" name="person-add"></ion-icon>
    Sign Up
  </ion-button>
  <ion-button class="b1" size="large" [routerLink]="['/log-in']">
    <ion-icon slot="start" name="log-in"></ion-icon>
    Log In
  </ion-button>
</ion-menu-toggle>
</ion-toolbar>
  </ion-header>
</ion-menu>

<div class="ion-page" id="main-content">
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title size="large">Hot & Tasty</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="label1">OPENING TIMES</h1>
      <h2  class="label2">Mon - Thurs: 4pm to 12am</h2>
      <h2 class="label2">Fri - Sat: 4pm to 2am</h2>
      <h2 class="label2">Sun: 4pm to 12am</h2>

      <!--Menu button is for going to the menu page for what it's on the menu that you would like to get-->

      <ion-button color="primary" class="MenuStyle" [routerLink]="['/menu']"> Takeaway Menu
        <ion-icon slot="start" name="book"></ion-icon>
       </ion-button>
       <ion-menu-toggle>
        <ion-button fill="outline" class="MenuStyle">
          <ion-icon slot="start" name="menu"></ion-icon>Click to open Menu button</ion-button>
      </ion-menu-toggle>
       <hr color="dark" style="margin-top: 125px;">
       <p style="margin-top: 50px;" class="ps"><b>Phone No: 090 662 1765</b></p>
       <p class="as"><b>Main St., Creggs, F42EH10</b></p>
</ion-content>
</div>
