
<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title [routerLink]="['/hthome']" class="titleStyle">Hot & Tasty</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Ordering Takeaway</b></ion-card-title>
      <ion-card-subtitle style="color:black">Please, enter your food and drinks for your order.<br>
        For example, type 1 * Curry chips, that is one curry chips, if you type 2 * Batter Sausages you have 2 Batter Sausages.
        When you had it done, click enter and add another order for your takeaway.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea [(ngModel)]="orderList" [counter]="true" [maxlength]="150" [autoGrow]="true" 
      [clearOnEdit]="true" label="What would you like to get?" labelPlacement="floating" 
      fill="outline"></ion-textarea>
    </ion-card-content>
    <ion-button class="styleButton3" shape="round" (click)="hasOrder()">Click</ion-button>
  </ion-card>
  </ion-content>
</div>
