<!--Using the menu button or slide it right, home button is for going back to the home page,
    order button is for goiung to the order page, Sign Up button for Signing Up your account
    and the Log In button for logging in your account-->

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button class="b2" size="large" [routerLink]="['/home']">
          <ion-icon slot="start" name="home"></ion-icon>
            Home
        </ion-button>
        <ion-button class="b2" size="large" [routerLink]="['/order']">
          <ion-icon slot="start" name="card"></ion-icon>
            Order
        </ion-button>
      <ion-button class="b2" size="large" [routerLink]="['/sign-up']">
        <ion-icon slot="start" name="person-add"></ion-icon>
    Sign Up
  </ion-button>
  <ion-button class="b2" size="large" [routerLink]="['/log-in']">
    <ion-icon slot="start" name="log-in"></ion-icon>
    Log In
  </ion-button>
</ion-menu-toggle>
</ion-toolbar>
  </ion-header>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title [routerLink]="['/hthome']" class="titleStyle">Hot & Tasty</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <!--All ion-accordion components should be grouped inside ion-accordion-group components for what number it is, the name of the food and how much that is.-->
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label style="color: red;" class="l3">Chips</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let c of chip">
          <ion-label><b>{{c.Number}}: </b>{{c.Food}}</ion-label>
          <p>€{{c.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="dark">
        <ion-label style="color: orange;" class="l3">Burger</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let b of burger">
        <ion-label><b>{{b.Number}}: </b>{{b.Food}}</ion-label>
          <p>€{{b.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="warning">
        <ion-label style="color: red;" class="l3">Kebab</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let k of kebab">
        <ion-label><b>{{k.Number}}: </b>{{k.Food}}</ion-label>
          <p>€{{k.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="success">
        <ion-label style="color: rgb(227, 201, 152);" class="l3">Wraps</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let w of wrap">
        <ion-label><b>{{w.Number}}: </b>{{w.Food}}</ion-label>
          <p>€{{w.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label style="color:red" class="l3">Side Order</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let sd of sideOrder">
        <ion-label><b>{{sd.Number}}: </b>{{sd.Food}}</ion-label>
          <p>€{{sd.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="sixth">
      <ion-item slot="header" color="tint">
        <ion-label style="color: orange;" class="l3">Fish</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let f of fish">
        <ion-label><b>{{f.Number}}: </b>{{f.Food}}</ion-label>
          <p>€{{f.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="seventh">
      <ion-item slot="header" color="danger">
        <ion-label style="color: white;" class="l3">Fried Chicken</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let fc of friedChicken">
        <ion-label><b>{{fc.Number}}: </b>{{fc.Food}}</ion-label>
          <p>€{{fc.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="eighth">
      <ion-item slot="header" color="warning">
        <ion-label class="l3" color="danger">Kids Meal</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let km of kMeal">
          <ion-label>{{km.Food}}</ion-label>
          <p>€{{km.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="ninth">
      <ion-item slot="header" color="danger">
        <ion-label class="l3" color="warning">Meal Deals</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let md of mDeal">
        <ion-label><b>{{md.Number}}: </b>{{md.Food}}</ion-label>
          <p>€{{md.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="tenth">
      <ion-item slot="header" color="warning">
        <ion-label class="l3" color="danger">Beverages</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let bv of beverage">
          <ion-label>{{bv.Drink}}</ion-label>
          <p>€{{bv.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="eleventh">
      <ion-item slot="header" color="success">
        <ion-label class="l3" color="warning">Sauces</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let s of sauce">
        <ion-label>{{s.Sauce}}</ion-label>
          <p>€{{s.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
  <ion-accordion value="twelveth">
    <ion-item slot="header" color="light">
      <!--Food allergies occur when the immune system overreacts to specific foods, treating them as invaders and triggering a protective response.
          The name of the Food Allergies are: -->
      <ion-label class="l3" color="danger">FOOD ALLERGY - WARNING & SYMBOLS</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-badge slot="start" color="success">CE</ion-badge>
          <ion-label>Celery</ion-label>
          <ion-label>2, 4, 13 - 15, 17, 19 - 21, 23, 25 - 26, 34 - 35</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="danger">GW</ion-badge>
          <ion-label>Gluten/Wheat</ion-label>
          <ion-label>9 - 21, 24 - 35, 37 - 40</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="medium">CR</ion-badge>
          <ion-label>Crustacean</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="warning">EG</ion-badge>
          <ion-label>Egg</ion-label>
          <ion-label>3 - 21, 23 - 26, 30, 34 - 35</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="tertiary">FI</ion-badge>
          <ion-label>Fish</ion-label>
          <ion-label>31 - 33</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="primary">LU</ion-badge>
          <ion-label>Lupin</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="primary">MK</ion-badge>
          <ion-label>Lactose/Milk Dairy</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="medium">MO</ion-badge>
          <ion-label>Molluscs</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="dark">MU</ion-badge>
          <ion-label>Mustard</ion-label>
          <ion-label>2 - 5, 9 - 26, 30, 37 - 40</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" style="background-color: #28bb50;">N</ion-badge>
          <ion-label>Nuts</ion-label>
          <ion-label>19 - 21</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="dark">PE</ion-badge>
          <ion-label>Peanuts</ion-label>
          <ion-label></ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="success">SE</ion-badge>
          <ion-label>Sesame</ion-label>
          <ion-label>9 - 17</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="secondary">SY</ion-badge>
          <ion-label>Soy</ion-label>
          <ion-label>2 - 7, 9 - 22, 24 - 26</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="medium">SO</ion-badge>
          <ion-label>Sulphur Dioxide</ion-label>
          <ion-label>18 - 22, 24 - 28</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">S</ion-badge>
          <ion-label>Low Sugar</ion-label>
          <ion-label>2 - 7, 18</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">WF</ion-badge>
          <ion-label>Wheat Free</ion-label>
          <ion-label>36</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">LF</ion-badge>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">LSF</ion-badge>
          <ion-label>Low Saturate Fat</ion-label>
          <ion-label>2</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">VE</ion-badge>
          <ion-label>Vegan</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">V</ion-badge>
          <ion-label>Vegetarian</ion-label>
          <ion-label>2 - 5</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">DF</ion-badge>
          <ion-label>Dairy Free</ion-label>
          <ion-label>2 - 3, 36</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">NA</ion-badge>
          <ion-label>Low Sodium</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">LS</ion-badge>
          <ion-label>Low Salt</ion-label>
          <ion-label>18 - 21, 23, 26</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">SY</ion-badge>
          <ion-label>Soya</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">GF</ion-badge>
          <ion-label>Gluten Free</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">M</ion-badge>
          <ion-label>Milk</ion-label>
          <ion-label>18 - 21, 24 - 26, 38</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">EGF</ion-badge>
          <ion-label>Egg Free</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>
