<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button class="b2" size="large" [routerLink]="['/home']">
          <ion-icon slot="start" name="home"></ion-icon>
            Home
        </ion-button>
        <ion-button class="b2" size="large" [routerLink]="['/payment']">
          <ion-icon slot="start" name="card"></ion-icon>
            Order
        </ion-button>
      <ion-button class="b2" size="large" [routerLink]="['/sign-up']">
        <ion-icon slot="start" name="person-add"></ion-icon>
    Sign Up
  </ion-button>
  <ion-button class="b2" size="large" [routerLink]="['/sign-in']">
    <ion-icon slot="start" name="log-in"></ion-icon>
    Sign In
  </ion-button>
</ion-menu-toggle>
</ion-toolbar>
  </ion-header>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title [routerLink]="['/hthome']">Hot & Tasty</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first" style="background-color: rgb(238, 238, 48);">
      <ion-item slot="header" color="tint">
        <ion-label style="color: red;" class="l3">Chips</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let c of chip">
          <ion-label>{{c.Number}}</ion-label>
          <p>{{c.Food}}</p>
          <p>€{{c.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="dark">
        <ion-label style="color: orange;" class="l3">Burger</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let b of burger">
        <ion-label>{{b.Number}}</ion-label>
          <p>{{b.Food}}</p>
          <p>€{{b.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="warning">
        <ion-label style="color: red;" class="l3">Kebab</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let k of kebab">
        <ion-label>{{k.Number}}</ion-label>
          <p>{{k.Food}}</p>
          <p>€{{k.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth">
      <ion-item slot="header" color="success">
        <ion-label style="color: rgb(245, 179, 56);" class="l3">Wraps</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let w of wrap">
        <ion-label>{{w.Number}}</ion-label>
          <p>{{w.Food}}</p>
          <p>€{{w.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="fifth">
      <ion-item slot="header" color="light">
        <ion-label style="color:red" class="l3">Side Order</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let sd of sideOrder">
        <ion-label>{{sd.Number}}</ion-label>
          <p>{{sd.Food}}</p>
          <p>€{{sd.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="sixth" style="background-color: rgb(179, 85, 85);">
      <ion-item slot="header" color="tint">
        <ion-label style="color: orange;" class="l3">Fish</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let f of fish">
        <ion-label>{{f.Number}}</ion-label>
          <p>{{f.Food}}</p>
          <p>€{{f.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="seventh">
      <ion-item slot="header" color="danger">
        <ion-label style="color: white;" class="l3">Fried Chicken</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let fc of friedChicken">
        <ion-label>{{fc.Number}}</ion-label>
          <p>{{fc.Food}}</p>
          <p>€{{fc.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="eighth">
      <ion-item slot="header" color="warning">
        <ion-label class="l3">Kids Meal</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let km of kMeal">
          <p>{{km.Food}}</p>
          <p>€{{km.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="ninth">
      <ion-item slot="header" color="danger">
        <ion-label class="l3">Meal Deals</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let md of mDeal">
        <ion-label>{{md.Number}}</ion-label>
          <p>{{md.Food}}</p>
          <p>€{{md.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="tenth">
      <ion-item slot="header" color="warning">
        <ion-label class="l3">Beverages</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let bv of beverage">
          <p>{{bv.Drink}}</p>
          <p>€{{bv.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
    <ion-accordion value="eleventh">
      <ion-item slot="header" color="success">
        <ion-label class="l3">Sauces</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list *ngFor="let s of sauce">
        <p>{{s.Sauce}}</p>
          <p>€{{s.Price}}</p>
        </ion-list>
      </div>
    </ion-accordion>
  <ion-accordion value="twelveth">
    <ion-item slot="header" color="light">
      <ion-label class="l3">ALLERGEN</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item>
          <ion-badge slot="start" color="success">CE</ion-badge>
          <ion-label>Celery</ion-label>
        </ion-item>
        <p>2, 4, 13, 14, 15, 17, 19, 20, 21, 23, 25, 26, 34, 35</p>
        <ion-item>
          <ion-badge slot="start" color="danger">GW</ion-badge>
          <ion-label>Gluten/Wheat</ion-label>
        </ion-item>
        <p>9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40</p>
        <ion-item>
          <ion-badge slot="start" color="medium">CR</ion-badge>
          <ion-label>Crustacean</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="warning">EG</ion-badge>
          <ion-label>Egg</ion-label>
        </ion-item>
        <p>3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 30, 34, 35</p>
        <ion-item>
          <ion-badge slot="start" color="tertiary">FI</ion-badge>
          <ion-label>Fish</ion-label>
        </ion-item>
        <p>31, 32, 33</p>
        <ion-item>
          <ion-badge slot="start" color="primary">LU</ion-badge>
          <ion-label>Lupin</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="primary">MK</ion-badge>
          <ion-label>Lactose/Milk Dairy</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="medium">MO</ion-badge>
          <ion-label>Molluscs</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="dark">MU</ion-badge>
          <ion-label>Mustard</ion-label>
        </ion-item>
        <p>2, 3, 4, 5, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 30, 37, 38, 39, 40</p>
        <ion-item>
          <ion-badge slot="start" style="background-color: #28bb50;">N</ion-badge>
          <ion-label>Nuts</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="dark">PE</ion-badge>
          <ion-label>Peanuts</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="success">SE</ion-badge>
          <ion-label>Sesame</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="secondary">SY</ion-badge>
          <ion-label>Soy</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="medium">SO</ion-badge>
          <ion-label>Sulphur Dioxide</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">S</ion-badge>
          <ion-label>Low Sugar</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">WF</ion-badge>
          <ion-label>Wheat Free</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">LF</ion-badge>
          <ion-label></ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">LSF</ion-badge>
          <ion-label>Low Saturate Fat</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">VE</ion-badge>
          <ion-label>Vegan</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">V</ion-badge>
          <ion-label>Vegetarian</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">DF</ion-badge>
          <ion-label>Dairy Free</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">NA</ion-badge>
          <ion-label>Low Sodium</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">LS</ion-badge>
          <ion-label>Low Salt</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">SY</ion-badge>
          <ion-label>Soya</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">GF</ion-badge>
          <ion-label>Gluten Free</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">M</ion-badge>
          <ion-label>Milk</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="light">EGF</ion-badge>
          <ion-label>Egg Free</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group><hr><hr>
  
</ion-content>
