<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons>
    <ion-back-button defaultHref="/hthome"></ion-back-button>
    <ion-title>Sign Up</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="warning">
      <ion-title>Sign Up</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title id="ct"><b>Create new account</b></ion-card-title><br>
    <ion-item>
      <ion-icon slot="start" style="margin-top:35px;" name="person" color="secondary"></ion-icon>
      <ion-input [(ngModel)]="myEmail" label="Email" errorText="Invalid email" ngModel email label-placement="floating" fill="solid" type="email" placeholder="Enter your email"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-icon slot="start" style="margin-top:35px" name="lock-closed" color="secondary"></ion-icon>
          <ion-input [(ngModel)]="myPassword" label="Password" label-placement="floating" fill="solid" type="password" placeholder="Enter your password"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-icon slot="start" style="margin-top:35px" name="lock-closed" color="secondary"></ion-icon>
          <ion-input [(ngModel)]="myPassword2" label="Password Confirm" label-placement="floating" fill="solid" type="password" placeholder="Enter your confirm password"></ion-input>
        </ion-item><br>
    <ion-button id="bs2" shape="round" (click)="signUp()">Sign Up</ion-button><br>
    <ion-card-content style="font-size:20px;">
    Already have an account? <b><a href="/sign-in">Sign In</a></b>
    </ion-card-content>
  </ion-card-header>
  </ion-card>
</ion-content>
