<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button class="b3" size="large" [routerLink]="['/home']">
          <ion-icon slot="start" name="home"></ion-icon>
            Home
        </ion-button>
        <ion-button class="b3" size="large" [routerLink]="['/payment']">
          <ion-icon slot="start" name="card"></ion-icon>
            Order
        </ion-button>
      <ion-button class="b3" size="large" [routerLink]="['/sign-up']">
        <ion-icon slot="start" name="person-add"></ion-icon>
    Sign Up
  </ion-button>
  <ion-button class="b3" size="large" [routerLink]="['/sign-in']">
    <ion-icon slot="start" name="log-in"></ion-icon>
    Sign In
  </ion-button>
</ion-menu-toggle>
</ion-toolbar>
  </ion-header>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title [routerLink]="['/hthome']" class="titleStyle">Hot & Tasty</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  </ion-content>
</div>
