<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <!--The ion-back-button is for going back to the hthome page-->
    <ion-buttons>
    <ion-back-button (click)="backButton()" defaultHref="/hthome"></ion-back-button>
    <!--<ion-toast trigger="toast" icon="home" message="You return to Hot & Tasty Home page" [duration]="3000"></ion-toast>-->
    <ion-title>Log In</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="warning">
      <ion-title>Log In</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title id="ct2"><b>Log in to your account</b></ion-card-title><br>
    <ion-item>
      <!--The log in page is for logging your account. 2 input boxes, 1 input email, 1 password.
          When you had it finished, you can log in your account by clicking the log in button.-->
      <ion-icon slot="start" name="person" color="secondary"></ion-icon>
      <ion-input [clearInput]="true" [(ngModel)]="e2" errorText="Invalid email" ngModel email label-placement="floating" fill="solid" label="Email input" type="email" placeholder="Enter your email"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-icon slot="start" name="lock-closed" color="secondary"></ion-icon>
          <ion-input [clearInput]="true" [(ngModel)]="p2" label="Enter your password" 
          label-placement="floating" fill="solid" type="password" [counter]="true" maxLength="20"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-label id="l1" slot="end">Remember Me</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item><br>
    <ion-button id="bs" shape="round" (click)="signIn()"><b>Log In</b></ion-button><br>
    <ion-card-content style="font-size:20px;">
    Forgot your account? <b><a href="/sign-up">Sign Up</a></b>
    </ion-card-content>
  </ion-card-header>
  </ion-card>
</ion-content>
