
<div class="ion-page" id="main-content">
  <ion-content>
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title style="font-size:35px;">Home</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <br><ion-label class="label2">Hello & Welcome to the<br>Multi-Takeaway</ion-label>
  <br><ion-label class="label3">Please select your online takeaway</ion-label>
  <ion-button id="button1" color="warning" [routerLink]="['/hthome']">Hot & Tasty Takeaway</ion-button>
  <ion-button id="button1" color="primary" [routerLink]="['/menu']">Martino's Takeaway</ion-button>
  <ion-button id="button1" color="danger" [routerLink]="['/menu']">Domino's Takeaway</ion-button>
  <ion-button id="button1" color="warning" [routerLink]="['/menu']">Takeaway Menu</ion-button>
  
  <!--<br><br><ion-label class="label1">OPENING TIMES</ion-label>
  <ion-list id="styleList">
    <ion-item id="styleItem">
      <ion-label>Mon - Thurs: 4pm to 12am</ion-label>
    </ion-item>
    <ion-item id="styleItem">
      <ion-label>Fri - Sat: 4pm to 2am</ion-label>
    </ion-item>
    <ion-item id="styleItem">
      <ion-label>Sun: 4pm to 12am</ion-label>
    </ion-item>
    </ion-list>-->
  </ion-content>
</div>
